// Color Pallete

$primary-color: #203348;
$primary-grey: #393e46;
$primary-black: #0c0c0c;
$primary-border-color: #eeeeee;
$primary-white: #FFFFFF;
$primary-red: red;
$border-color-grey: #ebebeb;

$primary-blue: #0754d2;
$border-color: #dadada;
$primary-teal-color: #058593;

$input_bacground_color: #fafafa;

$footer_background_color: #f8f9fc;
